<odoo>
    <data>

        <menuitem name="Hospital"
                  id="om_hospital.menu_root"
                  sequence="0"
                  web_icon="om_hospital,static/description/icon.png"/>

        <!-- menu categories -->
        <menuitem name="Hospital"
                  sequence="0"
                  id="om_hospital.hospital"
                  parent="om_hospital.menu_root"/>

        <menuitem name="Appointment"
                  sequence="1"
                  id="menu_appointment_master"
                  parent="om_hospital.menu_root"/>

        <menuitem name="Configurations"
                  sequence="2"
                  id="menu_configurations_master"
                  parent="om_hospital.menu_root"/>



    </data>
</odoo>